.TopSide{
display: flex;
justify-content: space-evenly;
width: 100%;
height: 200px;
}
.CustomerDetials{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    margin:30px 0 0 -250px ;
   
    /* background-color: #faf7f7; */
    
   
}
.CustomerDetials>input{
    padding: 5px;
    border-radius: 5px; 
    border: 1px solid #999; 
    
    font-size: 18px;
    color: #2191ad;
}
.CustomerDetials>textarea{
height: 100Px;
padding: 5px;
border-radius: 5px; 
border: 1px solid #999; 

font-size: 18px;
color: #2191ad;
/* background-color: #faf7f7; */
}
.userSide{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    margin:30px -250px  0 300px ;
    
}
.userSide>input{
    padding: 5px;
    border-radius: 5px; 
    border: 1px solid #999; 
    
    font-size: 18px;
    color: #2191ad;
}


.tablestyle>table{
    background-color: white;
}



/* model */
.add-item{
    display: flex;
    flex-direction:column;
    align-items: center;
    border: 2px double rgb(184, 185, 248);
    border-radius: 10%;
    justify-content: space-evenly;

    /* background-color: blue; */
    width: 25%;
    height: 80%;
    margin:5% 30% 10% 37%;
    box-shadow: 1px 1px 24px 10px rgba(48, 47, 47, 0.75);
}
.isValue>input{
    height: 35px;
    padding-left: 10px;
    border: 2px double rgb(184, 185, 248);
    border-radius: 10px;


}
.add-item>button{
    width: 40%;
    border: 2px double rgb(3, 3, 36);
    border-radius: 10px;
    color: white;
    background-color:rgb(3, 3, 36);
    font-weight: bold;
    letter-spacing: 2px;
    
}


.FileTable {
    border-collapse:collapse;
    width: 100%;
    height: 10%;
    color:rgb(12, 12, 12);
  
    /* margin-top: 220px; */
    margin-top: 10px;
     display: flex;
    justify-content:space-evenly; 
  }
.lblQuantity{
    margin-right: -150px;
}
.lblTotal{
    margin-right: -160px;
}
  .btnsave{
   
  
    width: 100%;
     display: inline-block;
     
     flex-direction: row;
    justify-content:space-evenly;
     
    margin-top: 10px;
    
    
  }
  
 .btnsave>button{
    width: 10%;
   
    border-radius: 10px;
    color: white;
    
    font-weight: bold;
    letter-spacing: 2px;
    margin-right: 40px;
    
}
.Btnsave{
    border: 2px double rgb(2, 119, 12);
    background-color:rgb(6, 138, 6);
  
    margin-left: 800px;
}
.btnClose{
    border: 2px double rgb(248, 4, 4);
    background-color:rgb(247, 10, 10);
    margin-right: 200px;
}
.Add{
    width: 10%;
    border: 2px double rgb(3, 3, 36);
    border-radius: 10px;
    color: white;
    background-color:rgb(3, 3, 36);
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 550px;
    margin-top: -50px;
    margin-bottom: 5px;
}
.tablestyle{
     width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center; 
    /* align-items: center; */
    /* margin-top: 25px; */
    overflow-y: scroll;

    /* border-collapse: separate;
  border-spacing: 10px;  */
}
/* Reset default styles for the table */
table {
    border-collapse: collapse;
    border:2px solid black ; 
    width: 100%;
    height: 10%;
    
  }
  
  /* Style the table header */
  th {
    background-color: #948a8a;
    padding: 8px;
    border:2px solid black ; 
    text-align: left;
  }
  
  /* Style the table rows */
  tr {
    border-bottom: 10px solid #f5c0c0;
  }
  
  /* Style table data cells */
  td {
    padding: 8px;
  }
  
  /* Alternate row background color */
  /* tr:nth-child(even) {
    background-color: #f2f2f2;
  } */
  
  /* Add spacing between cells */
  td, th {
    padding: 8px;
  }
  
#FileTable{
    max-height:300px;
}

.imageProfile{
  width: 64px;
  height: 64px;
}
